/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: url("gambar1.jpg") no-repeat center center/cover;
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: black;
}

.navbar .logo {
  font-size: 2rem;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar ul li {
  margin: 0 10px;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  transition: color 0.3s;
}

.navbar ul li a:hover {
  color: orange;
}

.hero {
  text-align: center;
  margin-top: auto;
  padding-bottom: 200px;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero button {
  padding: 10px 20px;
  background-color: transparent;
  border-color: white;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.hero button:hover {
  background-color: darkorange;
}
